@dark: #101010;
@light: #efefef;
@mid: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.25rem;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 2em;
        font-family: "Ebrima-Bold";
    }
}

.section-white {
    background-color: @light;
    color: @dark;
}

.section-black {
    background-color: @dark;
    color: @light;
}

.logo {
    position: fixed;
    top: auto;
    z-index: 100;
    opacity: 1;
    transition: top 0.3s ease;

    img {
        width: 200px;
        transition: width 0.3s ease, filter 0.3s ease 0.5s;
    }

    &.small {
        top: 2rem;

        img {
            width: 100px;
        }
    }
}

.logo-inverted {
    img {
        filter: invert()
    }
}

.text-body {
    font-family: "Roboto";
    justify-content: flex-start;
    z-index: 1;
    flex: 1;
    transition: opacity 1s ease;
}

#section-about-me {
    .text-body {
        opacity: 0;
        transition: opacity 2s ease
    }

    .gradient-overlay {
        position: absolute;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 35%, rgba(255, 255, 255, 0) 60%);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
    }

    .parallax-me {
        position: absolute;
        top: 0;
        left: 0;
        background: url("../img/me_big.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: 600px 0px;
        transition: background-position 20s ease-out;

    }

    &.transitioning {
        .text-body {
            opacity: 1;
        }
    }

    &.active {
        .text-body {
            opacity: 1;
        }

        .parallax-me {
            background-position: 700px 0px;
        }

    }
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
}

.active {
    &#section-cv {
        .cv-point {
            opacity: 1;
        }

        .cv-line {
            stroke-dashoffset: 0;
        }
    }

    &.fade-in {
        opacity: 1;
    }
}

.cv-wrapper {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cv-summary {
    background-color: @dark;
    width: max-content;
    padding: 1rem;
    box-shadow: 0.125rem 0.125rem 5px rgbA(0, 0, 0, 0.2);
    color: @light;
    .cv-title {
        font-weight: bold;
        position: relative;
        font-size: 1.125em;
    }
    
}

.cv-summary-highlight {
    background-color: @mid;
    width: 30rem;
    box-shadow: 0.125rem 0.125rem 5px rgbA(0, 0, 0, 0.2);
    color: @dark;
    .cv-title {
        font-weight: bold;
        position: relative;
        font-size: 2em;
    }
}

.cv-line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 0.25rem;
    stroke: @dark;
    transition: stroke-dashoffset 3s ease;
}

.code-cursor {
    animation: blink 1s linear infinite;
}


.parallax-full {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
}



#section-dev {
    .parallax-code {
        filter: blur(10px);
        transform: scale(1.06);
        transition: transform 50s linear;
    }

    &.active {
        .parallax-code {
            transform: scale(1.46) translateY(-200px);
        }
    }
}

@media (prefers-color-scheme: dark) {
    #favicon {
        filter: invert();
    }
}

@media screen {
    @media (max-width: 1023px) {

        .section {
            flex-direction: column;
            padding-top: 1rem;
        }

        .logo.small {
            top: 1rem;
            left: 1rem;

            img {
                width: 2rem;
            }

        }

        .text-body {
            padding: 1rem;
            flex: 5!important;
        }

        .cv-wrapper {
            position: relative;
            height: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            
            .cv-summary {
                margin-bottom: 2rem;
                width: 100%;
            }
        }

    }
}